#Introduction {
  background: whitesmoke;
}

#Music {
  background-color: grey;
}

#Geography {
  background-color: gray;
}

#Landmarks {
  font-style: italic;
}

body {
  background-color: lightgrey;
}

.purpleTitle {
  color: #660066;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.backgroundColor {
  color: olive;
}

.section-alignment {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

h2 {
  text-align: center;
}
ol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

img {
  width: 300px;
  height: 300px;
}
